<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Introduce usuario</h2>
                <form>
                    <input type="text" [(ngModel)]="name" name="name" [value]="name" class="form-control">
                    <input type="number" [(ngModel)]="age" name="age" [value]="age" class="form-control">
                    <button (click)="saveUser()" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Usuarios guardados</h2>
                <ul>
                    <li *ngFor="let user of users">
                        {{ user.name }} - {{ user.age }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>